{% extends "base.html" %}

{% block content %}

<div class="container mx-auto">
    <h1 class="mb-4">Schedule List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Biweekly Schedule</th>
            </tr>
        </thead>
        <tbody>
            
            {% for schedule in schedules %}
            <tr>
                
                <td>{{ schedule.user }}</td>
                <td>{{ schedule.date }}</td>
                <td>{{ schedule.start_time }}</td>
                <td>{{ schedule.end_time }}</td>
                <td>{{ schedule.get_biweekly_schedule_display }}</td>
              
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}